<html>
   <body>
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Salary Information</h3>
         ID<br>
         <input type = "text" name = "id" /></br>
         
         Name<br>
         <input type = "text" name = "name" ></textarea><br>
         
         City<br>
         <input type = "text" name = "city" /><br>
         
         Salary<br>
         <input type = "text" name = "salary" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>
      <a href = "/">Go back to home page</a>
   </body>
</html>
